* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  auth pages */

.signup,
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup p {
  font-size: 14px;
  text-align: center;
}
.login p {
  font-size: 14px;
  text-align: center;
}
a {
  text-decoration: none;
}
.authForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.authForm div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authForm input {
  padding: 5px;
  outline: none;
}
.authForm button {
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.err {
  color: red;
}
.signup .doc-pat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.signup .doc-pat button {
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-size: 14px;
  border-radius: 20px;
  padding: 8px;
}
.reset {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.reset .reset-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.reset .reset-form input {
  padding: 5px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
}
.reset .reset-form button {
  padding: 5px;
  background-color: rgb(63, 147, 74);
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}

/* main page  */
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* popups */
.popup-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 39, 39, 0.541);
  position: absolute;
  top: 0;
  left: 0;
}
.popup-div .doc-form,
.pat-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.popup-div h2 {
  color: white;
}
.popup-Form {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  gap: 15px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.popup-Form .doc-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.doc-form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.popup-Form .contact-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.popup-Form input {
  padding: 5px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.popup-Form select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}
.popup-Form button {
  background-color: rgb(65, 155, 73);
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.popup-Form .time-slots-div {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 400px;
  height: 250px;
}
.popup-Form .time-slots-div .slot-container {
  height: 100%;
  padding: 5px;
  border: 1px solid gray;
  overflow-y: auto;
}
.popup-Form .slot-container {
  padding: 5px;
}
.popup-Form .time-slots-div .slots {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.popup-Form .slots button {
  width: 100px;
  font-size: 14px;
  background-color: white;
  color: black;
  border: 1px solid;
}

/* pat from */

.pat-form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.past-issues-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.issues {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.issues #issue-name {
  width: 420px;
}

/* Header */
.header {
  width: 100vw;
  height: 60px;
  display: flex;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid;
}
.header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 15px;
  color: gray;
}
.header button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 14px;
}

/* oultet */
.outlet {
  width: 100vw;
  height: 100vh;
}

/* home */
.home {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  padding-top: 60px;
}
.home .docCard-container {
  display: flex;
  gap: 10px;
}
.home .doc-Card {
  width: 200px;
  height: 240px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f0f0f5;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .doc-Card .img-div {
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .doc-Card .doc-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .doc-Card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
  object-fit: cover;
}

/* details */
.doc-details {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doc-details > div {
  width: 70vw;
  height: 500px;
  border: 1px solid;
  display: flex;
  padding: 10px;
}
.doc-details .left {
  flex: 1;
  display: flex;
  gap: 15px;
  padding: 10px;
}
.doc-details .left img {
  width: 120px;
  height: 120px;
  border: 1px solid;
}

.doc-details .time-slots {
  flex: 1;
  padding: 10px;
}
.doc-details .time-slots-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.doc-details .days {
  display: flex;
  gap: 5px;
  
}
.doc-details .days p {
  cursor: pointer;
}
.doc-details .slot-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doc-details .availableSlots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.doc-details .availableSlots-container div {
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
}
