@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Fira+Code&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  auth pages */

.signup,
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 10px;
  padding-top: 20px;
  overflow: hidden;
}

.pattern {
  position: absolute;
  bottom: -80px;
  z-index: -1;
}
.signup > div {
  border: 1px solid rgb(216, 215, 215);
  padding: 10px;
  border-radius: 3px;
  background-color: white;
}
.login > div {
  border: 1px solid rgb(216, 215, 215);
  padding: 10px;
  border-radius: 3px;
  margin-top: 120px;
  background-color: white;
}
.signup p {
  font-size: 14px;
  text-align: center;
}
.login p {
  font-size: 14px;
  text-align: center;
}
a {
  text-decoration: none;
}
.authForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.authForm div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authForm input {
  padding: 5px;
  outline: none;
}
.authForm button {
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}
.err {
  color: red;
}
.signup .doc-pat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.signup .doc-pat button {
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-size: 14px;
  border-radius: 20px;
  padding: 8px;
}
.reset {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.reset .reset-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.reset .reset-form input {
  padding: 5px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
}
.reset .reset-form button {
  padding: 5px;
  background-color: rgb(63, 147, 74);
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}

/* main page  */
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* popups */
.popup-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 39, 39, 0.819);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.popup-div .doc-form,
.pat-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.popup-div h2 {
  color: white;
}
.popup-Form {
  width: 700px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.popup-Form .doc-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.doc-form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.doc-form #img {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile-div {
  display: flex;
  gap: 50px;
  align-items: center;
}
.avatar-div {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.avatar-div img {
  width: 130px;
  height: 130px;
}
.popup-Form .contact-div {
  display: flex;
  gap: 15px;
}
.popup-Form label {
  font-weight: 500;
}
.popup-Form label img {
  border: 1px solid white;
}
.popup-Form input {
  padding: 5px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.popup-Form select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}
.popup-Form button {
  background-color: rgb(65, 155, 73);
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.popup-Form .time-slots-div {
  position: absolute;
  top: 171px;
  right: 20px;
  width: 400px;
  height: 300px;
}

.popup-Form .time-slots-div .slot-container {
  height: 80%;
  padding: 10px;
  border: 1px solid rgb(205, 204, 204);
  overflow-y: auto;
  margin-top: 5px;
  border-radius: 5px;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.slot-container p {
  font-weight: 500;
  margin-bottom: 5px;
}

.slot-container::-webkit-scrollbar {
  width: 15px;
}

.slot-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.slot-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #70d495;
}
.slot-container::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #75d470;
  background-clip: content-box;
}
.popup-Form .slot-container {
  padding: 5px;
}
.popup-Form .time-slots-div .slots {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.popup-Form .slots button {
  width: 100px;
  font-size: 14px;
  background-color: white;
  color: black;
  border: 1px solid;
}

/* pat from */

.pat-form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.past-issues-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.past-issues-container .issue-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 120px;
  overflow-y: auto;
  padding-right: 5px;
}
.issue-div::-webkit-scrollbar {
  width: 15px;
}

.issue-div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.issue-div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #70d495;
}
.issue-div::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #75d470;
  background-clip: content-box;
}
.issues {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.issues #issue-name {
  width: 420px;
}
.add-btn {
  width: 140px;
  height: 36px;
}
.save-btn {
  width: 94%;
  height: 36px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Header */
.header {
  width: 100vw;
  height: 60px;
  display: flex;
  padding: 10px 60px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(239, 239, 239);
  background-color: white;
  z-index: 2;
}
.header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 15px;
  color: rgb(75, 75, 96);
  font-size: 18px;
}
.header ul li {
  cursor: pointer;
}
.header button {
  padding: 5px 10px;
  background-color: #3a86ff;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 14px;
}

/* oultet */
.outlet {
  width: 100vw;
  height: 100vh;
}

/* home */
.home {
  width: 100%;
  min-height: 100vh;
  padding: 10px 0px;
  padding-top: 60px;
}
.home h1 {
  font-size: 48px;
  width: 450px;
  color: #3a86ff;
}
.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 60px;
  min-height: 90vh;
}
.home .home-top {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.home-top .doc-pattern {
  position: absolute;
  right: 0;
  top: -80px;
  width: 600px;
  z-index: -1;
}
.home .find-doc {
  width: 500px;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.home .find-doc input {
  padding: 5px;
  width: 100%;
  outline: none;
}
.home-top .range {
  width: 200px;
}
.find-doc label img {
  width: 34px;
  position: absolute;
  right: 10px;
  background-color: #3a86ff;
}
.home .showSearch {
  width: 450px;
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  top: 200px;
}
.home .showSearch p {
  cursor: pointer;
}
.home .doctors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home .docCard-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}

.home .doc-Card {
  width: 220px;
  height: 270px;
  padding: 10px;
  border: 1px solid #f0f0f5;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
}
.home .doc-Card .img-div {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .doc-Card .doc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.home .doc-Card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(190, 188, 188);
  object-fit: cover;
}

/* details */
.doc-details {
  width: 100%;
  min-height: 100vh;
  padding: 10px 60px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.doc-details .notification {
  position: absolute;
  top: 5px;
  z-index: 5;
  background-color: rgb(63, 193, 109);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.doc-details > div {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.doc-details .left {
  width: 600px;
  height: 300px;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 20px;
}
.doc-details .left img {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(193, 190, 190);
  overflow: hidden;
  border-radius: 5px;
}

.doc-details .time-slots {
  width: 800px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
}
.doc-details .time-slots-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.doc-details .days {
  display: flex;
  gap: 10px;
}

.days .slot-day {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a86ff;
  border-radius: 5px;
}
.doc-details .days p {
  cursor: pointer;
}
.doc-details .slot-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.doc-details .availableSlots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.doc-details .availableSlots-container .slot-time {
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc-details .time-slots-div button {
  padding: 5px;
  background-color: #3a86ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Appointments */

.appointments {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  padding: 15px 60px;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  gap: 20px;
}
.appointments .appo-container {
  width: 350px;
  height: 620px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgb(220, 218, 218);
  box-shadow: 3px 5px 7px 1px #cecbcb61;
  /* background: #eff2f7; */
}

.appointments .appo-container > h4 {
  font-size: 22px;
}
.appointments .appo-container .appoCard-container {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}
.appoCard-container .appointment-Card {
  width: 300px;
  height: 120px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1px 1px 8px rgb(0 0 0 / 12%);
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}
.doc-name {
  padding: 10px;
  color: white;
  background-color: #3a86ff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* Appointments Details */
.appo-Details {
  width: 100%;
  min-height: 100vh;
  padding: 15px 60px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.appo-Details > div {
  margin-top: 50px;
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: 3px 5px 7px 1px #cecbcb61;
  /* align-items: center; */
  position: relative;
}
.note-div {
  width: 400px;
  border-radius: 5px;
  background-color: #3a86ff;
  color: white;
  padding: 10px;
}
.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
.appo-Details .start {
  padding: 5px;
  background-color: #3a86ff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.notes-container button {
  padding: 5px;
  background-color: #3a86ff;
  color: white;
  border: none;
  border-radius: 5px;
}
.notes-container .cancel {
  background-color: #d90429;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.notes-container .done {
  background-color: #5adc53;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.notes-container textarea {
  padding: 10px;
  outline: none;
}
/* profile */
.profile {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 10px 60px;
  padding-top: 70px;
  display: flex;
  gap: 20px;
}

.profile .left {
  width: 70vw;
  height: 88vh;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 20px;
  position: relative;
}
.profile .left img {
  width: 350px;
  position: absolute;
  bottom: 10px;
}
.left .issues-div {
  padding: 10px;
  width: 600px;
  height: 250px;
  overflow-y: auto;
}
.left .issue {
  display: flex;
  justify-content: space-between;
  background-color: #3a86ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.profile .right {
  width: 30vw;
  height: 88vh;
  background-color: #3a86ff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile .right .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.profile .right img {
  width: 150px;
  border-radius: 5px;
}
.profile .right .main-info {
  display: flex;
  gap: 15px;
}
.right .edit {
  padding: 5px;
  border: none;
  background-color: white;
  border-radius: 5px;
}
.edit-container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
.right .edit-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.first-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.first-div input {
  width: 100px;
}
.edit-div .field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.edit-div .field input {
  width: 100%;
  border-radius: 5px;
  padding: 4px;
  outline: none;
  border: 1px solid rgb(195, 194, 194);
}

.edit-div .field select {
  border-radius: 5px;
  padding: 4px;
  outline: none;
}
.edit-div .save {
  padding: 5px;
  background-color: #5adc53;
  color: white;
  border: none;
  border-radius: 5px;
}
